.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    padding: 20px;
    width: 300px;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}
